@model FeelingGoodApp.Models.NutritionViewModel

@{
    ViewData["Title"] = "GetNutrition";
}

<h1>GetNutrition</h1>

<h4>NutritionViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Search">

            <div class="form-group">
                <label asp-for="item_name" class="control-label">Type in a food item to see more detailed nutrition facts</label>
                <input asp-for="item_name" class="form-control" />
                <span asp-validation-for="item_name" class="text-danger"></span>
            </div>
            <input type="submit" value="Search" />

        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

