  

@{
}
@{
    ViewData["Title"] = "AboutUs";
}

<h3>We are a team of friends that got together and realized that we could do more for society <br /> integrating our knowledge, physical Skills & talents developing applications to create a positive impact in one human being at a time   </h3>
<img src="~/css/images/Crew.png" />