@model UserProfileViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-controller="Home" asp-action="ShowMeal">
    <label for="meal">Enter Food Item</label>
    <input type="text" id="meal" name="meal" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<form asp-controller="Home" asp-action="ShowExercise">
    <label asp-for="query">Enter Exercise</label>
    <input asp-for="query" required/>

    <label asp-for="gender"></label>
    <input asp-for="gender" />

    <label asp-for="weight_kg"></label>
    <input type="number" asp-for="weight_kg" min="10" max="250" step="0.01" /> 

    <label asp-for="height_cm"></label>
    <input type="number" asp-for="height_cm" min="40" max="300" step="0.01"/> 
    
    <label asp-for="age"></label>
    <input type="number" asp-for="age" min="13" max="120"/>

    <button type="submit" class="btn btn-primary">Search</button>
</form>