
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WELCOME TO FEELING GOOD.</title>
    <style>
        .bg-image {
            background-image: url(file:///C:\Users\joeyp\source\repos\FeelingGoodApp\FeelingGoodApp\FeelingGoodApp\Photos\Empty);
        }
    </style>
</head>
<body>
        <div class="bg-image"></div>
      <div class="bg-text">
          <h1>WELCOME TO FEELING GOOD. THE APP THAT LETS YOU TRACK YOUR FITNESS & NUTRITION GOALS IN ONE CONVENIENT PLACE.</h1><br />
          <h2>USE THE APP TO BUILD A BETTER YOU. ANYTHING IS POSSIBLE WHEN YOU'RE FEELING GOOD.</h2>
          <h3>PLEASE CLICK THE TOP RIGHT BUTTONS TO REGISTER FOR AN ACCOUNT, SO YOU CAN BEGIN YOUR FITNESS JOURNEY.</h3>
      </div>
 
</body>
</html>
