@model FeelingGoodApp.Models.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>Welcome To Feeling Good</h4>
<hr />

@*<input type="button" color="red" name="button" class="button1" value="Submit" />


<br />

<div>
    <a asp-action="Index">Back to List</a>
</div>*@
