@model FeelingGoodApp.Models.IndexViewModel

@{
    ViewData["Title"] = "SearchPlaces";
}

<h1>SearchPlaces</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <form asp-action="GetPlaces">
                <strong>Address/Zip</strong>  <input type="text" name="address" /> <br />
               <strong>Radius</strong> <select name="radius">
                    <option value="5000">5km</option>
                    <option value="10000">10km</option>
                    <option value="15000">15km</option>
                    <option value="20000">20km</option>
                </select><br />
                <strong>Activities</strong><select name="type">
                    <option value="gym">Gym</option>
                    <option value="cafe">Coffee Shops</option>
                    <option value="yoga">Yoga</option>
                    <option value="restaurants">Restaurants</option>
                    <option value="market">Markets</option>
                    <option value="hotels">Hotels</option>
                </select>

                <input type="submit" value="Search" />
            </form>
        </div>
        <div class="col-sm-9">
            <h3><strong>Vitality shows in not only the ability to<br />Persist but the ability to start over.</strong></h3>
            <img src="~/css/images/Libertad.jpg" class="img" />

        </div>


    </div>
</div>

   