@model FeelingGoodApp.Models.IndexViewModel

@{
    ViewData["Title"] = "SearchPlaces";
}

<h1>SearchPlaces</h1>

<h4>IndexViewModel</h4>
<hr />
<div class="row">
    <form asp-action="GetPlaces">
        Address/Zip <input type="text" name="address" /> <br />
        Radius<select name="radius">
            <option value="5000">5km</option>
            <option value="10000">10km</option>
            <option value="15000">15km</option>
            <option value="20000">20km</option>
        </select><br />
        Activities<select name="type">
            <option value="gym">Gym</option>
            <option value="cafe">Coffee Shops</option>
            <option value="yoga">Yoga</option>
            <option value="restaurants">Restaurants</option>
            <option value="market">Markets</option>
            <option value="hotels">Hotels</option>
        </select>

        <input type="submit" value="Search" />
    </form>
</div>

<div class="col-sm-9">
    <img src="~/css/images/bradley-dunn-KxYG-7dOXpc-unsplash.jpg" class="img" />
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

